{% extends '@Shared/base.html.twig' %}

{% block body %}
    <h1>Lid worden</h1>
<p>
	Let op: kijk eerst even voor welke les je in wilt schrijven in het <a href="{{ path('simpleContentPage', {'pageName': 'lesrooster'}) }}">lesrooster</a>.
	Als er een wachtlijst op een les is, neem dan eerst even via de mail contact op met de juf.
</p>
    {{ form_start(form) }}
	<h2>Persoonsgegevens</h2>
    <table>
        <tr>
            <td>{{ form_label(form.firstName) }}</td>
            <td>{{ form_widget(form.firstName) }}</td>
            <td>{{ form_errors(form.firstName) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.lastName) }}</td>
            <td>{{ form_widget(form.lastName) }}</td>
            <td>{{ form_errors(form.lastName) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.nameLetters) }}</td>
            <td>{{ form_widget(form.nameLetters) }}</td>
            <td>{{ form_errors(form.nameLetters) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.dateOfBirth) }}</td>
            <td>{{ form_widget(form.dateOfBirth) }}</td>
            <td>{{ form_errors(form.dateOfBirth) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.gender) }}</td>
            <td>{{ form_widget(form.gender) }}</td>
            <td>{{ form_errors(form.gender) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.address) }}</td>
            <td>{{ form_widget(form.address) }}</td>
            <td>{{ form_errors(form.address) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.postcode) }}</td>
            <td>{{ form_widget(form.postcode) }}</td>
            <td>{{ form_errors(form.postcode) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.city) }}</td>
            <td>{{ form_widget(form.city) }}</td>
            <td>{{ form_errors(form.city) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.phone1) }}</td>
            <td>{{ form_widget(form.phone1) }}</td>
            <td>{{ form_errors(form.phone1) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.phone2) }}</td>
            <td>{{ form_widget(form.phone2) }}</td>
            <td>{{ form_errors(form.phone2) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.bankAccountNumber) }}</td>
            <td>{{ form_widget(form.bankAccountNumber) }}</td>
            <td>{{ form_errors(form.bankAccountNumber) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.bankAccountHolder) }}</td>
            <td>{{ form_widget(form.bankAccountHolder) }}</td>
            <td>{{ form_errors(form.bankAccountHolder) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.emailAddress) }}</td>
            <td>{{ form_widget(form.emailAddress) }}</td>
            <td>{{ form_errors(form.emailAddress) }}</td>
        </tr>
		    </table>
		<br>
		<h2>Les</h2>
		<p>Selecteer hieronder de gegevens van de les waar je lid van wilt worden. Let op: er kan een wachtlijst op een les zijn. Voor een overzicht van de beschikbare lessen en om te zien of er een wachtlijst is kijk je op <a href="{{ path('simpleContentPage', { 'pageName': 'lesrooster' }) }}" target="blank">de pagina met het lesrooster.</a></p>
		<table>
        <tr>
            <td>{{ form_label(form.category) }}</td>
            <td>{{ form_widget(form.category) }}</td>
            <td>{{ form_errors(form.category) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.days) }}</td>
            <td>
                {% for key, day in form.days.children %}
                    {{ form_widget(day) }}{{ form_label(day) }}<br>
                {% endfor %}
            </td>
            <td>{{ form_errors(form.days) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.locations) }}</td>
            <td>
                {% for key, location in form.locations.children %}
                    {{ form_widget(location) }}{{ form_label(location) }}{% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </td>
            <td>{{ form_errors(form.locations) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.startTime) }}</td>
            <td>{{ form_widget(form.startTime) }}</td>
            <td>{{ form_errors(form.startTime) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.trainer) }}</td>
            <td>{{ form_widget(form.trainer) }}</td>
            <td>{{ form_errors(form.trainer) }}</td>
        </tr>
    </table>
    <br>
	<h2>Overig</h2>
    <table>
        <tr>
            <td>{{ form_label(form.haveBeenSubscribed) }}</td>
            <td>{{ form_widget(form.haveBeenSubscribed) }}</td>
            <td>{{ form_errors(form.haveBeenSubscribed) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.subscribedFrom) }}</td>
            <td>{{ form_widget(form.subscribedFrom) }}</td>
            <td>{{ form_errors(form.subscribedFrom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.subscribedUntil) }}</td>
            <td>{{ form_widget(form.subscribedUntil) }}</td>
            <td>{{ form_errors(form.subscribedUntil) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.otherClub) }}</td>
            <td>{{ form_widget(form.otherClub) }}</td>
            <td>{{ form_errors(form.otherClub) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.whatOtherClub) }}</td>
            <td>{{ form_widget(form.whatOtherClub) }}</td>
            <td>{{ form_errors(form.whatOtherClub) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.paidBondContribution) }}</td>
            <td>{{ form_widget(form.paidBondContribution) }}</td>
            <td>{{ form_errors(form.paidBondContribution) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.how) }}</td>
            <td>{{ form_widget(form.how) }}</td>
            <td>{{ form_errors(form.how) }}</td>
        </tr>
    </table>

    <p>
        {{ form_errors(form.voluntaryWork) }}<br />
        {{ form_label(form.voluntaryWork) }}
    </p>
    <p>
        {{ form_widget(form.voluntaryWork) }}
    </p>

    <p>{{ form_widget(form.accept) }}{{ form_label(form.accept) }}</p>
    <p>{{ form_widget(form.acceptPrivacyPolicy) }}{{ form_label(form.acceptPrivacyPolicy) }}</p>
    <p>{{ form_label(form.acceptNamePublished) }}{{ form_widget(form.acceptNamePublished) }}</p>
    <p>{{ form_label(form.acceptPicturesPublished) }}{{ form_widget(form.acceptPicturesPublished) }}</p>
    {{ form_end(form) }}
{% endblock %}
