{% extends 'inloggen/adminIndex.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <i>Foto's</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Uploads bekijken</h1>
{% endblock %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('addAdminFotoPage') }}">Foto Uploaden: <img src="{{ asset('images/add.png') }}" width="18px"/></a>
    {% endif %}
    <table border="1">
        <tr>
            <td><b>Naam</b></td>
            <td><b>Locatie</b></td>
            <td></td>
        </tr>
        {% for item in contentItems %}
            <tr>
                <td>{{ item.naam }}</td>
                <td style="font-size: 12px;">/uploads/fotos/{{ item.locatie }}</td>
                <td><a href="{{ path('removeAdminFotoPage', { 'id': item.id }) }}"><img
                                src="{{ asset('images/remove.png') }}" width="18px"/></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
