{% extends '@Shared/base.html.twig' %}

{% block inlogmenu %}
    <div id="inlogmenu">
        <ul>
            <li><a href="{{ path('getSelectieIndexPage') }}">
                {% if persoonItems.id is not defined %}
                    <span id="active_link">
                {% endif %}
                Algemene gegevens
                {% if persoonItems.id is not defined %}
                    </span>
                {% endif %}
            </a></li>
            {% for persoonGegevens in persoon %}
                <li><a href="{{ path('showPersoon', { 'id': persoonGegevens.id }) }}">
                        {% if persoonItems.id is defined %}
                        {% if persoonItems.id == persoonGegevens.id %}
                        <span id="active_link">
                            {% endif %}
                            {% endif %}
                            {{ persoonGegevens.voornaam }} {{ persoonGegevens.achternaam }}
                            {% if persoonItems.id is defined %}
                            {% if persoonItems.id == persoonGegevens.id %}
                        </span>
                        {% endif %}
                        {% endif %}
                    </a></li>
            {% endfor %}
            {% if is_granted('ROLE_PREVIOUS_ADMIN') or is_granted('ROLE_PREVIOUS_TRAINER') %}
            	<li><a href="{{ path('redirectToCorrectLoginPage', {'_switch_user': '_exit'}) }}">
                    Uitloggen
				</a></li>
            {% else %}
                <li><a href="{{ path('logout') }}">Uitloggen</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <i>Algemene gegevens</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Algemene gegevens</h1>
{% endblock %}

{% block body %}
    <h2>Contactgegevens <a href="{{ path('editContactgegevens') }}">
            <img src="{{ asset('images/edit.png') }}" width="18px"/>
        </a></h2>
    {{ user.straatnr }}<br>
    {{ user.postcode }}<br>
    {{ user.plaats }}<br>
    {{ user.tel1 }}<br>
    {% if user.tel2 %}
        {{ user.tel2 }}<br>
    {% endif %}
    {% if user.tel3 %}
        {{ user.tel3 }}<br>
    {% endif %}
    <h2>Inloggegevens</h2>
    {{ user.email }}
    <a href="{{ path('editEmail') }}"><img src="{{ asset('images/edit.png') }}" width="18px"/></a><br>
    {% if user.email2 %}
        {{ user.email2 }} <a href="{{ path('editEmail2') }}">
        <img src="{{ asset('images/edit.png') }}" width="18px"/></a><br>
    {% else %}
        Emailadres toevoegen <a href="{{ path('editEmail2') }}"><img src="{{ asset('images/edit.png') }}" width="18px"/></a>
        <br>
    {% endif %}
	{% if user.email3 %}
        {{ user.email3 }} <a href="{{ path('editEmail3') }}">
        <img src="{{ asset('images/edit.png') }}" width="18px"/></a><br>
    {% else %}
        Emailadres toevoegen <a href="{{ path('editEmail3') }}"><img src="{{ asset('images/edit.png') }}" width="18px"/></a>
        <br>
    {% endif %}

    ******** <a href="{{ path('editPassword') }}"><img src="{{ asset('images/edit.png') }}" width="18px"/></a>
{% endblock %}
