{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            > <i>Eten/drinken</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Eten/drinken</h1>
{% endblock %}

{% block body %}
    <a href="{{ path('EtenDrinkenAdd', { 'persoonId': persoonItems.id, 'groepId': groepId }) }}">
        Eten/drinken toevoegen<img src="{{ asset('images/add.png') }}" width="18px"/></a>
    <p>
    <table border="0" id="nolink" width="100%">
        <tr>
            <th>Wie</th>
            <th>Wat</th>
            <th>Hoeveel</th>
            <th>Overig</th>
            <th></th>
            <th></th>
        </tr>
        {% for voedsel in voedselItems %}
            <tr>
                <td>{{ voedsel.persoonVoornaam }} {{ voedsel.persoonAchternaam }}</td>
                <td>{{ voedsel.voedsel }}</td>
                <td>{{ voedsel.hoeveelheid }}</td>
                <td>
                    {% if voedsel.overig is defined %}
                        {{ voedsel.overig }}
                        {% endif %}
                </td>
                {% if voedsel.persoonId == persoonItems.id %}
                    <td>
                        <a href="{{ path('EtenDrinkenEdit', { 'persoonId': persoonItems.id, 'groepId': groepId, 'voedselId': voedsel.id }) }}">
                            <img src="{{ asset('images/edit.png') }}" width="18px"/>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('EtenDrinkenRemove', { 'persoonId': persoonItems.id, 'groepId': groepId, 'voedselId': voedsel.id }) }}">
                            <img src="{{ asset('images/remove.png') }}" width="18px"/>
                        </a>
                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <p>

{% endblock %}