{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            {% if action == 'add' %}
                > <i>Wedstrijdkalender item toevoegen ({{ groep }})</i>
            {% else %}
                > <i>Wedstrijdkalender item wijzigen ({{ groep }})</i>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    {% if action == 'add' %}
        <h1>Wedstrijdkalender item toevoegen</h1>
    {% else %}
        <h1>Wedstrijdkalender item wijzigen</h1>
    {% endif %}
{% endblock %}

{% block body %}
    {% if action == 'edit' %}
        <p>
            <a href="{{ path('removeKalenderItem', { 'groepId': groepId, 'persoonId': persoonItems.id, "kalenderItemId": kalenderItemId }) }}">Klik hier om het item te verwijderen</a>
        </p>
    {% endif %}
    <form method="post" action="">
        <table>
            <tr>
                <td>Wedstrijdnaam</td><td><input type="text" name="wedstrijdnaam" placeholder="Wedstrijdnaam"
                    {% if wedstrijdnaam is defined %}
                        value="{{ wedstrijdnaam }}"
                    {% endif %}
                    style="width: 200px" required /></td>
            </tr>
            <tr>
                <td>Datum</td><td><input type="date" name="datum"
                    {% if datum is defined %}
                        value="{{ datum }}"
                    {% endif %}
                     style="width: 200px" required /></td>
            </tr>
            <tr>
                <td>Tijden</td><td><textarea name="tijden"
                 style="width: 199px; height: 60px;">{% if tijden is defined %}{{ tijden }}{% endif %}</textarea>
            </tr>
            <tr>
                <td>Locatie</td><td><textarea name="locatie"
                style="width: 199px; height: 60px;">{% if locatie is defined %}{{ locatie }}{% endif %}</textarea>
            </tr>
            {% for turnster in turnsters %}
                <tr>
                    <td></td><td><label><input type="checkbox" name="turnsters_{{ turnster.id }}"
                        {% if turnster.selected %}
                            checked
                        {% endif %}
                                    />{{ turnster.naam }}</label></td>
                </tr>
            {% endfor %}

        </table>
        <input type="hidden" name="token" value="{{ token }}" />
        <input type="submit" value="Opslaan" />
    </form>

{% endblock %}
