{% extends 'inloggen/base.html.twig' %}

{% block inlogmenu %}
    <div id="inlogmenu">
        <ul>
            <li><a href="{{ path('getAdminIndexPage') }}">Index</a></li>
            <li><a href="{{ path('getAdminFotoPage') }}">Foto's</a></li>
            <li><a href="{{ path('getAdminBestandenPage') }}">Overige bestanden</a></li>
            <li><a href="{{ path('getAdminSelectiePage') }}">Selectie</a></li>
            <li><a href="{{ path('logout') }}">Uitloggen</a></li>
        </ul>
    </div>
{% endblock %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <i>Index</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Inloggen</h1>
{% endblock %}

{% block body %}
    <i>Ingelogd als Admin</i>
{% endblock %}