{% extends 'inloggen/adminIndex.html.twig' %}

{% block inlogNavigation %}
    <div class="inlognavigation">
        <b><i>Selectie</i></b>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Selectie beheer</h1>
{% endblock %}

{% block body %}

<h2>(Assistent-)Trainers <a href="{{ path('addAdminTrainerPage') }}"><img src="{{ asset('images/add.png') }}" width="18px" /></a></h2>
    <br>
    {% for persoon in personen %}
        {{ persoon.voornaam }} {{ persoon.achternaam }}
        <a href="{{ path('editAdminTrainerPage', { 'id': persoon.id }) }}">
            <img src="{{ asset('images/edit.png') }}" width="18px" />
        </a>
        <a href="{{ path('removeAdminTrainerPage', { 'id': persoon.id }) }}">
            <img src="{{ asset('images/remove.png') }}" width="18px" /><br>
        </a>
    {% endfor %}

    {#Selectiegroep toevoegen#}
    {#Selectiegroep wijzigen#}
    {#Selectiegroep verwijderen#}


{% endblock %}
