{% extends 'inloggen/adminIndex.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('getAdminSelectiePage') }}">Selectie</a>
            > <i>(Assistent-)Trainer toevoegen</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>(Assistent-)Trainer toevoegen</h1>
    <form method="post" action="">
        <table>
            <tr>
                <td>Voornaam</td><td><input type="text" name="voornaam" placeholder="Voornaam" required /></td>
            </tr>
            <tr>
                <td>Achternaam</td><td><input type="text" name="achternaam" placeholder="Achternaam" required /></td>
            </tr>
            <tr>
                <td>Geboortedatum</td><td><input type="date" name="geboortedatum" required /></td>
            </tr>
            <tr>
                <td>Emailadres</td><td><input type="email" name="username" placeholder="Emailadres" required /></td>
            </tr>
            <tr>
                <td>Tweede emailadres</td><td><input type="email" name="email2" placeholder="Emailadres" /></td>
            </tr>
            <tr>
                <td>Straat + huisnr</td><td><input type="text" name="straatnr" placeholder="Straat nr" required /></td>
            </tr>
            <tr>
                <td>Postcode</td><td><input type="text" name="postcode" placeholder="0000AA" required /></td>
            </tr>
            <tr>
                <td>Plaats</td><td><input type="text" name="plaats" placeholder="Plaats" required /></td>
            </tr>
            <tr>
                <td>Telefoonnummer</td><td><input type="text" name="tel1" placeholder="0612345678" required /></td>
            </tr>
            <tr>
                <td>Tweede Telefoonnummer</td><td><input type="text" name="tel2" placeholder="0612345678" /></td>
            </tr>
            <tr>
                <td>Derde Telefoonnummer</td><td><input type="text" name="tel3" placeholder="0612345678" /></td>
            </tr>
            {% for groep in groepen %}
                <tr>
                    <td>{{ groep.naam }}</td><td>
                        <select name="groep_{{ groep.id }}">
                            <option value="null">Niet bij deze groep</option>
                            <option value="Assistent-Trainer">Assistent-Trainer</option>
                            <option value="Trainer">Trainer</option>
                        </select>
                    </td>
                </tr>
                {% for training in groep.trainingen %}
                    <tr>
                        <td></td><td><label><input type="checkbox" name="trainingen_{{ training.id }}" />{{ training.dag }}: {{ training.tijdVan }} - {{ training.tijdTot }}</label></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        <input type="submit" value="Opslaan" />
    </form>
{% endblock %}

{% block body %}

{% endblock %}
