{% extends 'inloggen/adminIndex.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <i>Selectie</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Selectie beheer</h1>
{% endblock %}

{% block body %}

<h2>(Assistent-)Trainers <a href="{{ path('addAdminTrainerPage') }}"><img src="{{ asset('images/add.png') }}" width="18px" /></a></h2>
    <br>
    {% for persoon in personen %}
        {{ persoon.voornaam }} {{ persoon.achternaam }}
        <a href="{{ path('editAdminTrainerPage', { 'id': persoon.id }) }}"><img src="{{ asset('images/edit.png') }}" width="18px" /></a>
        <a href="{{ path('removeAdminTrainerPage', { 'id': persoon.id }) }}"><img src="{{ asset('images/remove.png') }}" width="18px" /></a>
        {% if not is_granted('ROLE_PREVIOUS_ALLOWED_TO_SWITCH') %}
            <a href="{{ path('getInloggenPage', {'_switch_user': persoon.username}) }}">
                <img src="{{ asset('images/login_as.png') }}" width="18px"/>
            </a>
        {% endif %}
        <br>
    {% endfor %}

    {#Selectiegroep toevoegen#}
    {#Selectiegroep wijzigen#}
    {#Selectiegroep verwijderen#}


{% endblock %}
