{% extends 'inloggen/base.html.twig' %}

{% block inlogmenu %}
    <div id="items">
        <a href="{{ path('getAdminIndexPage') }}">Index</a>
        <a href="{{ path('getAdminFotoPage') }}">Foto's</a>
        <a href="{{ path('getAdminBestandenPage') }}">Andere bestanden</a>
        <a href="{{ path('getAdminSelectiePage') }}">Selectie</a>
        <a href="{{ path('logout') }}">Uitloggen</a>
    </div>
{% endblock %}

{% block inlogNavigation %}
    <div class="inlognavigation">
        <b><i>Index</i></b>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Inloggen</h1>
{% endblock %}

{% block body %}
    <i>Ingelogd als Admin</i>
{% endblock %}