{% extends 'inloggen/adminIndex.html.twig' %}

{% block inlogNavigation %}
    <div class="inlognavigation">
        <a href="{{ path('getAdminSelectiePage') }}">Selectie</a>
        > <b><i>Trainer verwijderen</i></b>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Trainer verwijderen</h1>
{% endblock %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <span style="color:red;">Weet u zeker dat u <b>"{{ voornaam }} {{ achternaam }}"</b> wilt verwijderen?</span>
        <table>
            <tr>
                <td>
                    <form method="post" action="{{ path('removeAdminTrainerPage', { id: app.request.get('id') }) }}">
                        <input name="bevestig" type="submit" value="Bevestig">
                    </form>
                </td>
                <td>
                    <a href="{{ path('getAdminSelectiePage') }}"><input type="button" value="Annuleren"></a>
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}