{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            > <a href="{{  path('kruisjeslijst', { 'id': persoonItems.id, 'groepId': groepId }) }}">Kruisjeslijst</a>
            > <i>Kruisjeslijst invullen</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Kruisjeslijst invullen</h1>
{% endblock %}

{% block body %}
    <h2>{{ trainingsdata.dag }} {{ trainingsdata.lesdatum }}</h2>
    <h3>(Assistent-)Trainers</h3>
    <form method="post" action="">
    <p><table border="1">
        {% if personenAanwezigheid.trainers is defined %}
            {% for persoon in personenAanwezigheid.trainers %}
            <tr>
                <td>
                    {{ persoon.voornaam }} {{ persoon.achternaam }}
                </td>
                <td>
                    <input type="checkbox"
                           name="{% if personenAanwezigheid.aanwezigheid[persoon.id] is defined %}afgemeld_{% endif %}{{ persoon.id }}" />
                </td>
                <td>
                    {% if personenAanwezigheid.aanwezigheid[persoon.id] is defined %}
                        {% if personenAanwezigheid.aanwezigheid[persoon.id] == 'A' %}
							☹️
						{% elseif personenAanwezigheid.aanwezigheid[persoon.id] == '-' %}
							☹️❓
						{% elseif personenAanwezigheid.aanwezigheid[persoon.id] == 'X' %}
							🤸‍♀️
						{% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}

        {% if personenAanwezigheid.assistenten is defined %}
            {% for persoon in personenAanwezigheid.assistenten %}
                <tr>
                    <td>
                        {{ persoon.voornaam }} {{ persoon.achternaam }}
                    </td>
                    <td>
                        <input type="checkbox"
                               name="{% if personenAanwezigheid.aanwezigheid[persoon.id] is defined %}afgemeld_{% endif %}{{ persoon.id }}" />
                    </td>
                    <td>
                        {% if personenAanwezigheid.aanwezigheid[persoon.id] is defined %}
                            {% if personenAanwezigheid.aanwezigheid[persoon.id] == 'A' %}
								☹️
							{% elseif personenAanwezigheid.aanwezigheid[persoon.id] == '-' %}
								☹️❓
							{% elseif personenAanwezigheid.aanwezigheid[persoon.id] == 'X' %}
								🤸‍♀️
							{% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table></p>

    {% if personenAanwezigheid.turnsters is defined %}
        <p><h3>Turnsters</h3>
        <table border="1">
            {% for persoon in personenAanwezigheid.turnsters %}
                <tr>
                    <td>
                        {{ persoon.voornaam }} {{ persoon.achternaam }}
                    </td>
                    <td>
                        <input type="checkbox"
                               name="{% if personenAanwezigheid.aanwezigheid[persoon.id] is defined %}afgemeld_{% endif %}{{ persoon.id }}" />
                    </td>
                    <td>
                        {% if personenAanwezigheid.aanwezigheid[persoon.id] is defined %}
                        	    {% if personenAanwezigheid.aanwezigheid[persoon.id] == 'A' %}
								☹️
							{% elseif personenAanwezigheid.aanwezigheid[persoon.id] == '-' %}
								☹️❓
							{% elseif personenAanwezigheid.aanwezigheid[persoon.id] == 'X' %}
								🤸‍♀️
							{% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table></p>
    {% endif %}
    <p><input type="submit" value="Opslaan"></p>
    </form>
{% endblock %}
