{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            > <a href="{{  path('kruisjeslijst', { 'id': persoonItems.id, 'groepId': groepId }) }}">Kruisjeslijst</a>
            > <i>Trainingsdatum verwijderen</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Trainingsdatum verwijderen</h1>
    <p>
        Weet je zeker dat je de training met datum <span style="color:#FFFF00; font-weight: bold;">{{ trainingsdata.lesdatum }}</span> wilt verwijderen?
    </p>
    <table><tr><td>
            <form method="post" action="">
                <input type="submit" value="Bevestig" />
            </form>
        </td>
        <td>
            <a href="{{  path('kruisjeslijst', { 'id': persoonItems.id, 'groepId': groepId }) }}">
                <input type="button" value="Annuleren" />
            </a>
        </td></tr></table>
{% endblock %}

{% block body %}

{% endblock %}
