{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            > <i>Turnster verwijderen</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Turnster verwijderen</h1>
{% endblock %}

{% block body %}
    <p>Weet u zeker dat u <span style="color:#FFFF00; font-weight: bold;">"{{ voornaam }} {{ achternaam }}"</span> wilt verwijderen?</p>
    <table>
        <tr>
            <td>
                <form method="post" action="">
                    <input name="bevestig" type="submit" value="Bevestig">
                </form>
            </td>
            <td>
                <a href="{{ path('showPersoon', {id: app.request.get('trainerId')}) }}"><input type="button" value="Annuleren"></a>
            </td>
        </tr>
    </table>

{% endblock %}
