{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            >
            <a href="{{ path('viewSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': groepId }) }}">{{ turnster.voornaam }} {{ turnster.achternaam }}</a>
            > <i>Cijfer geven</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Cijfer geven: {{ turnster.voornaam }} {{ turnster.achternaam }}</h1>
{% endblock %}

{% block body %}
    <form method="post" action="">
                {% for toestel, doelen in doelen %}
        <p><h3>{{ toestel }}</h3>
            <select name="doel_{{ toestel }}">
                <option selected></option>
                    {% for id, doel in doelen %}
                        <option value="{{ id }}">{{ doel }} {{ toestel }}</option>
                    {% endfor %}
            </select></p>
            <p><select name="cijfer_{{ toestel }}">
                <option selected></option>
                <option value="6">Voldoende</option>
                <option value="7">Ruim voldoende</option>
                <option value="8">Goed</option>
                <option value="9">Zeer goed</option>
                <option value="10">Uitmuntend</option>

            </select>
            <label><input type="checkbox" name="twee_keer_{{ toestel }}" />2x</label>
        </p>
                {% endfor %}
        <p><label><input type="checkbox" name="repeat"
                        {% if repeat %}
                checked
                        {% endif %}/>Hierna nog een cijfer geven</label></p>
        <input type="hidden" name="token" value="{{ token }}"/>
        <input type="submit" value="Opslaan"/>
    </form>

{% endblock %}
