{% extends 'inloggen/base.html.twig' %}

{% block menu %}
    <div id="items">
        {% for persoonItem in persoon %}
            <a href="{#{{ path('getAdminIndexPage') }}#}">{{ persoonItem.voornaam }} {{ persoonItem.achternaam }}</a>
        {% endfor %}
        <a href="{{ path('logout') }}">Uitloggen</a>
    </div>
{% endblock %}

{% block inlogNavigation %}
    <div class="inlognavigation">
        <b><i>Index</i></b>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Algemene gegevens</h1>
{% endblock %}

{% block body %}
    <h2>Contactgegevens<a href="{{ path('editContactgegevens') }}">
            <img src="{{ asset('images/edit.png') }}" width="18px" />
        </a></h2>
    {{ user.straatnr }}<br>
    {{ user.postcode }}<br>
    {{ user.plaats }}<br>
    {{ user.tel1 }}<br>
    {% if user.tel2 %}
        {{ user.tel2 }}<br>
    {% endif %}
    {% if user.tel3 %}
        {{ user.tel3 }}<br>
    {% endif %}
    <h2>Inloggegevens</h2>
    {{ user.email }} <a href="{{ path('editEmail') }}">
    <img src="{{ asset('images/edit.png') }}" width="18px" />
    </a><br>
    {% if user.email2 %}
        {{ user.email2 }} <a href="{{ path('editEmail2') }}">
        <img src="{{ asset('images/edit.png') }}" width="18px" /><br>
    {% else %}
        Emailadres toevoegen <a href="{{ path('editEmail2') }}">
        <img src="{{ asset('images/edit.png') }}" width="18px" />
    </a><br>
    {% endif %}

    ******** <a href="{{ path('editPassword') }}">
    <img src="{{ asset('images/edit.png') }}" width="18px" />
</a>
{% endblock %}