{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            > <i>Stukje over jezelf</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Stukje over jezelf</h1>
{% endblock %}

{% block body %}
<form method="post" action="">
    <p>Leukste toestel:<br>
        <textarea name="toestelleuk" style="width: 400px;">{{ persoonItems.stukje.toestelleuk }}</textarea>
    </p>

    <p>Omdat:<br>
        <textarea name="omdattoestelleuk" style="width: 400px;">{{ persoonItems.stukje.omdattoestelleuk }}</textarea>
    </p>

    <p>Leukste wedstrijd tot nu toe:<br>
        <textarea name="wedstrijd" style="width: 400px;">{{ persoonItems.stukje.wedstrijd }}</textarea>
    </p>

    <p>Leukste/moeilijkste element:<br>
        <textarea name="element" style="width: 400px;">{{ persoonItems.stukje.element }}</textarea>
    </p>

    <p>Ik wil dit jaar nog leren:<br>
        <textarea name="leren" style="width: 400px;">{{ persoonItems.stukje.leren }}</textarea>
    </p>

    <p>Beste turnster/voorbeeld:<br>
        <textarea name="voorbeeld" style="width: 400px;">{{ persoonItems.stukje.voorbeeld }}</textarea>
    </p>

    <p>Dit wil ik nog kwijt:<br>
        <textarea name="overig" style="width: 400px;">{{ persoonItems.stukje.overig }}</textarea>
    </p>
    <input type="submit" value="Opslaan" />
</form>
{% endblock %}
