{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            > <a href="{{ path('viewDoelen', { 'persoonId': persoonItems.id, 'groepId': groepId }) }}">Doelen</a>
            > <i>Doel toevoegen</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Doel toevoegen</h1>
{% endblock %}

{% block body %}
<form method="post" action="">
    <table>
        <tr>
            <td>Naam</td>
            <td><input type="text" name="naam" style="width:250px;" required /></td>
        </tr>
        <tr>
            <td>Toestel</td>
            <td><select name="toestel" required style="width: 254px;">
                    <option selected></option>
                    <option name="Sprong">Sprong</option>
                    <option name="Brug">Brug</option>
                    <option name="Balk">Balk</option>
                    <option name="Vloer">Vloer</option>
                </select></td>
        </tr>
        <tr>
            <td>Trede</td>
            <td><select name="trede" style="width: 254px;">
                    <option selected></option>
                    <option name="1">Trede 1</option>
                    <option name="2">Trede 2</option>
                    <option name="3">Trede 3</option>
                    <option name="4">Trede 4</option>
                    <option name="5">Trede 5</option>
                    <option name="6">Trede 6</option>
                    <option name="7">Trede 7</option>
                    <option name="8">Trede 8</option>
                </select></td>
        </tr>
        <tr>
            <td>Subdoel 1</td>
            <td><select name="sub1" style="width: 254px;">
                    <option selected></option>
                    {% for toestel in doelenPerToestel %}
                        {% for doel in toestel.doelen %}
                            <option value="{{ doel.id }}">{{ doel.naam }} {{ toestel.naam }}{% if doel.trede is defined %} {{ doel.trede }}{% endif %}</option>
                        {% endfor %}
                    {% endfor %}
                </select></td>
        </tr>
        <tr>
            <td>Subdoel 2</td>
            <td><select name="sub2" style="width: 254px;">
                    <option selected></option>
                    {% for toestel in doelenPerToestel %}
                        {% for doel in toestel.doelen %}
                            <option value="{{ doel.id }}">{{ doel.naam }} {{ toestel.naam }}{% if doel.trede is defined %} {{ doel.trede }}{% endif %}</option>
                        {% endfor %}
                    {% endfor %}
                </select></td>
        </tr>
        <tr>
            <td>Subdoel 3</td>
            <td><select name="sub3" style="width: 254px;">
                    <option selected></option>
                    {% for toestel in doelenPerToestel %}
                        {% for doel in toestel.doelen %}
                            <option value="{{ doel.id }}">{{ doel.naam }} {{ toestel.naam }}{% if doel.trede is defined %} {{ doel.trede }}{% endif %}</option>
                        {% endfor %}
                    {% endfor %}
                </select></td>
        </tr>
        <tr>
            <td>Subdoel 4</td>
            <td><select name="sub4" style="width: 254px;">
                    <option selected></option>
                    {% for toestel in doelenPerToestel %}
                        {% for doel in toestel.doelen %}
                            <option value="{{ doel.id }}">{{ doel.naam }} {{ toestel.naam }}{% if doel.trede is defined %} {{ doel.trede }}{% endif %}</option>
                        {% endfor %}
                    {% endfor %}
                </select></td>
        </tr>
        <tr>
            <td>Subdoel 5</td>
            <td><select name="sub5" style="width: 254px;">
                    <option selected></option>
                    {% for toestel in doelenPerToestel %}
                        {% for doel in toestel.doelen %}
                            <option value="{{ doel.id }}">{{ doel.naam }} {{ toestel.naam }}{% if doel.trede is defined %} {{ doel.trede }}{% endif %}</option>
                        {% endfor %}
                    {% endfor %}
                </select></td>
        </tr>
        <tr>
            <td>Subdoel 6</td>
            <td><select name="sub6" style="width: 254px;">
                    <option selected></option>
                    {% for toestel in doelenPerToestel %}
                        {% for doel in toestel.doelen %}
                            <option value="{{ doel.id }}">{{ doel.naam }} {{ toestel.naam }}{% if doel.trede is defined %} {{ doel.trede }}{% endif %}</option>
                        {% endfor %}
                    {% endfor %}
                </select></td>
        </tr>
        <tr>
            <td colspan="2"><label><input type="checkbox" name="repeat"
                {% if repeat %}
                    checked
                {% endif %}/>Hierna nog een doel toevoegen</label></td>
        </tr>
        <tr><td colspan="2"><input type="submit" value="Opslaan" /></td></tr>
    </table>
</form>
{% endblock %}