{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            > <a href="{{ path('viewDoelen', { 'persoonId': persoonItems.id, 'groepId': groepId }) }}">Doelen</a>
            > <i>{{ doelOpbouw.naam }} {{ doelOpbouw.toestel }}</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>{{ doelOpbouw.naam }} {{ doelOpbouw.toestel }}</h1>
{% endblock %}

{% block body %}
<table border="1" style="text-align: center;">
    <tr><th colspan="12">{{ doelOpbouw.naam }} {{ doelOpbouw.toestel }}</th></tr>
    <tr><td colspan="12">{{ doelOpbouw.naam }} {{ doelOpbouw.toestel }}</td></tr>
    {% if doelOpbouw.subdoelen is defined %}
        {% for subdoel in doelOpbouw.subdoelen %}
            <tr>
                {% for trededoel in subdoel.trededoelen %}
                    <td colspan="{{ (1/(subdoel.trededoelen|length))*12 }}">{{ trededoel.naam }} {{ trededoel.toestel }}</td>
                    {% if trededoel.subdoelen is defined %}
                        {% if subdoel.trededoelen|length == 1 %}
                            </tr>
                            {% for subsubdoel in trededoel.subdoelen %}
                                <tr>
                                    {% for subtrededoel in subsubdoel.trededoelen %}
                                        <td colspan="{{ (1/(subsubdoel.trededoelen|length))*12 }}">{{ subtrededoel.naam }} {{ subtrededoel.toestel }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% else %}

                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% if trededoel.subdoelen is not defined or (trededoel.subdoelen is defined and subdoel.trededoelen|length > 1) %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
</table>


{% endblock %}

{#
{% for subsubdoel in trededoel.subdoelen %}
    {% for subtrededoel in subsubdoel.trededoelen %}
        <td colspan="{{ (1/(subsubdoel.trededoelen|length))*12 }}">{{ subtrededoel.naam }} {{ subtrededoel.toestel }}</td>
    {% endfor %}
{% endfor %}#}
