{% extends 'inloggen/selectieIndexPage.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <i>{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}

    {% for functie in persoonItems.functies %}
        {% if functie.groepId == 5 %}
            <a href="http://www.facebook.com/groups/selectieleidschendam/" target="blank">Word lid van de Facebookgroep
                van
                de selectie Leidschendam!</a>
        {% endif %}
    {% endfor %}

    <div style="height: 175px;">
        <a href="{{ path('addSelectieFotoPage', { 'persoonId': persoonItems.id }) }}">
            <img src="http://www.donargym.nl/uploads/selectiefotos/{{ persoonItems.foto }}"
                 width="150"
                 style="float:right;margin-right:2px;margin-top:5px;"/>
        </a>
        <br>

        <h1>{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}
        </h1>

        <p><b>Geboortedatum:</b> {{ persoonItems.geboortedatum }}<br>
            <b>Categorie:</b> {{ persoonItems.categorie }}</p></div>
{% endblock %}

{% block body %}
    {% for functie in persoonItems.functies %}
        <div style="margin-bottom: 75px;"><h2>{{ functie.groepNaam }} ({{ functie.functie }})</h2>
            <hr>

            {% if functie.groepId == 3 or functie.groepId == 5 %}
                {% if functie.functie == 'Turnster' %}
                    <p>
                        <h2>Voortgang</h2>

                        <div style="width: 600px; height: 200px; margin: 0 auto">
                            <a href="{{ path('showPersoonDoelenPerToestel', { 'persoonId': persoonItems.id, 'toestel': 'Sprong' }) }}">
                                <div id="sprong" style="width: 300px; height: 200px; float: left"></div>
                            </a>
                            <a href="{{ path('showPersoonDoelenPerToestel', { 'persoonId': persoonItems.id, 'toestel': 'Brug' }) }}">
                                <div id="brug" style="width: 300px; height: 200px; float: left"></div>
                            </a>
                        </div>
                        <div style="width: 600px; height: 200px; margin: 0 auto">
                            <a href="{{ path('showPersoonDoelenPerToestel', { 'persoonId': persoonItems.id, 'toestel': 'Balk' }) }}">
                                <div id="balk" style="width: 300px; height: 200px; float: left"></div>
                            </a>
                            <a href="{{ path('showPersoonDoelenPerToestel', { 'persoonId': persoonItems.id, 'toestel': 'Vloer' }) }}">
                                <div id="vloer" style="width: 300px; height: 200px; float: left"></div>
                            </a>
                        </div>
                    </p>
                {% endif %}
            {% endif %}
            {% if (functie.functie == 'Trainer') or (functie.functie == 'Assistent-Trainer') %}
            <p><h3>(Assistent-)Trainers</h3>
            <table border="1">
                <tr style="font-weight: bold">
                    <td>Naam</td>
                    <td>Geboortedatum</td>
                    <td>% aanwezig</td>
                </tr>

                {% if functie.trainer is defined %}
                    {% for turnster in functie.trainer %}
                        <tr>
                            <td>
                                <a href="{{ path('viewSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}">
                                    {{ turnster.voornaam }} {{ turnster.achternaam }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('viewSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}">
                                    {{ turnster.geboortedatum }}
                                </a>
                            </td>
                            <td style="text-align:center; font-weight: bold; background-color: #{{ turnster.percentageKleur }};">
                            <a href="{{ path('viewSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}"
                            style="text-decoration: none">
                                    <span style="color: rgba(0,0,0,0.6);">
                                        {{ turnster.percentageAanwezig | round }}%
                                    </span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {% if functie.assistent is defined %}
                    {% for turnster in functie.assistent %}
                        <tr>
                            <td>
                                <a href="{{ path('viewSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}">
                                    {{ turnster.voornaam }} {{ turnster.achternaam }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('viewSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}">
                                    {{ turnster.geboortedatum }}
                                </a>
                            </td>
                            <td style="text-align:center; font-weight: bold; background-color: #{{ turnster.percentageKleur }};">
                                <a href="{{ path('viewSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}"
                            style="text-decoration: none">
                                        <span style="color: rgba(0,0,0,0.6);">
                                            {{ turnster.percentageAanwezig | round }}%
                                        </span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </table>
                </p>

                <p>
                <h3>Turnsters
                    {% if functie.functie == 'Trainer' %}
                        <a href="{{ path('addSelectieTurnsterPage', { 'id': persoonItems.id, 'groepsId': functie.groepId }) }}"><img
                                    src="{{ asset('images/add.png') }}" width="18px"/></a>
                    {% endif %}
                </h3>
                <table border="1">
                    <tr style="font-weight: bold">
                        <td>Naam</td>
                        <td>Geboortedatum</td>
                        {% if functie.groepId == 3 or functie.groepId == 5 %}
                            <td>Voortgang</td>
                        {% endif %}
                        <td>% aanwezig</td>
                        {% if functie.functie == 'Trainer' %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>

                    {% if functie.turnster is defined %}
                        {% for turnster in functie.turnster %}
                            <tr>
                                <td>
                                    <a href="{{ path('viewSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}">
                                        {{ turnster.voornaam }} {{ turnster.achternaam }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('viewSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}">
                                        {{ turnster.geboortedatum }}
                                    </a>
                                </td>
                                {% if functie.groepId == 3 or functie.groepId == 5 %}
                                    <td style="text-align:center; font-weight: bold; background-color: #{{ turnster.percentageVoortgangKleur }};">
                                        <a href="{{ path('viewSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}"
                                        style="text-decoration: none">
                                            <span style="color: rgba(0,0,0,0.6);">
                                            {{ turnster.percentageVoortgang | round }}%
                                        </span>
                                        </a>
                                    </td>
                                {% endif %}
                                <td style="text-align:center; font-weight: bold; background-color: #{{ turnster.percentageKleur }};">
                                    <a href="{{ path('viewSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}"
                                    style="text-decoration: none">
                                        <span style="color: rgba(0,0,0,0.6);">
                                            {{ turnster.percentageAanwezig | round }}%
                                        </span>
                                    </a>
                                </td>
                                {% if functie.functie == 'Trainer' %}
                                    <td>
                                        <a href="{{ path('editSelectieTurnster', { 'persoonId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}">
                                            <img src="{{ asset('images/edit.png') }}" width="18px"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('removeSelectieTurnsterPage', { 'trainerId': persoonItems.id, 'turnsterId': turnster.id, 'groepId': functie.groepId }) }}">
                                            <img src="{{ asset('images/remove.png') }}" width="18px"/>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table></p>
            {% endif %}
            <p>

            <h3>Presentie</h3>
            {% for training in persoonItems.trainingen %}
                {% if training.groepId == functie.groepId %}
                    <h4>{{ training.dag }}: {{ training.tijdVan }} - {{ training.tijdTot }}</h4>
                    <table border="1">
                        <tr>
                            {% for trainingsdatum in training.trainingsdata %}
                                <td style="font-size: 13px;">{{ trainingsdatum.lesdatum }}</td>
                            {% endfor %}
                            <td style="font-size: 13px;"><b>% Aanwezig</b></td>
                        </tr>
                        <tr>
                            {% for trainingsdatum in training.trainingsdata %}
                                <td style="text-align: center;
                                {% if trainingsdatum.aanwezigheid == 'A' or trainingsdatum.aanwezigheid == '-' %}
                                        background-color: yellow; color: red; font-weight: bold;
                                {% endif %}
                                        ">{{ trainingsdatum.aanwezigheid }}</td>
                            {% endfor %}
                            <td style="text-align:center; font-weight: bold; background-color: #{{ training.percentageKleur }}; color: rgba(0,0,0,0.6);">
                                {{ training.percentageAanwezig |round }}%
                            </td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
            </p>
            <p>Totaal {{ functie.aantalAanwezig }} van {{ functie.aantalTrainingen }} trainingen aanwezig: <span
                        style="font-weight: bold; background-color: #{{ functie.percentageKleur }}; color: rgba(0,0,0,0.6);">
                        {{ functie.percentageAanwezig | round }}%</span></p>

            <p><a href="{{ path('Afmelding', { 'id': persoonItems.id, 'groepId': functie.groepId }) }}">Afmelden voor
                    trainingen</a></p>

            {% if (functie.functie == 'Turnster') %}
                {% if persoonItems.categorie == 'Jeugd 2' or persoonItems.categorie == 'Junior' or persoonItems.categorie == 'Senior' %}
                    <p>Vloermuziek:
                        {% if persoonItems.vloermuziek %}<a
                            href="http://www.donargym.nl/uploads/vloermuziek/{{ persoonItems.vloermuziek }}"
                            target="blank"><img src="{{ asset('images/listen.png') }}" width="18px"/></a>{% endif %}
                        <a href="{{ path('addSelectieVloermuziekPage', { 'persoonId': persoonItems.id, 'groepId': functie.groepId, 'turnsterId': persoonItems.id }) }}">
                            <img src="{{ asset('images/add.png') }}" width="25px"/>
                        </a>
                    </p>
                {% endif %}
            {% endif %}

            {% if (functie.functie == 'Trainer') %}
                <p><a href="{{ path('TrainingsplanIndex', { 'persoonId': persoonItems.id, 'groepId': functie.groepId }) }}">
                        Trainingsplan</a></p>
            {% endif %}

            {% if (functie.functie == 'Trainer') %}
                <p><a href="{{ path('kruisjeslijst', { 'id': persoonItems.id, 'groepId': functie.groepId }) }}">Kruisjeslijst
                        invullen</a></p>
            {% endif %}

            {% if (functie.functie == 'Trainer') or (functie.functie == 'Assistent-Trainer') %}
                <p><a href="{{ path('viewAfmeldingen', { 'id': persoonItems.id, 'groepId': functie.groepId }) }}">Afmeldingen
                        bekijken</a></p>
            {% endif %}

            {% if (functie.functie == 'Trainer') or (functie.functie == 'Assistent-Trainer') %}
                <p><a href="{{ path('viewAanwezigheid', { 'id': persoonItems.id, 'groepId': functie.groepId }) }}">Aanwezigheid
                        bekijken</a></p>
            {% endif %}

            {% if (functie.functie == 'Trainer') or (functie.functie == 'Assistent-Trainer') %}
                <p>
                    <a href="{{ path('viewWedstrijduitslagen', { 'persoonId': persoonItems.id, 'groepId': functie.groepId }) }}">
                        Wedstrijduitslagen
                    </a></p>
            {% endif %}

            {% if (functie.functie == 'Trainer') or (functie.functie == 'Assistent-Trainer') %}
                <p><a href="{{ path('viewDoelen', { 'persoonId': persoonItems.id, 'groepId': functie.groepId }) }}">Doelen</a>
                </p>
            {% endif %}

            {% if (functie.functie == 'Turnster') %}
                <p><a href="{{ path('addSelectieStukjePage', { 'id': persoonItems.id }) }}">Schrijf een stukje over
                        jezelf</a></p>
            {% endif %}

            {% if (functie.functie == 'Trainer') or (functie.functie == 'Assistent-Trainer') %}
                <p>
                    <a href="{{ path('viewVloermuziek', { 'persoonId': persoonItems.id, 'groepId': functie.groepId }) }}">Vloermuziek</a>
                </p>
            {% endif %}

            <p>
                <a href="{{ path('viewAdreslijst', { 'id': persoonItems.id, 'groepId': functie.groepId }) }}">Adreslijst</a>
            </p>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            var gaugeOptions = {
                chart: {
                    type: 'solidgauge',
                    backgroundColor: 'rgba(255, 255, 255, 0)'
                },

                title: null,
                pane: {
                    center: ['50%', '85%'],
                    size: '140%',
                    startAngle: -90,
                    endAngle: 90,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                // the value axis
                yAxis: {
                    stops: [
                        [0.1, '#DF5353'], // red
                        [0.5, '#DDDF0D'], // yellow
                        [0.9, '#55BF3B'] // green
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    title: {
                        y: -70
                    },
                    labels: {
                        y: 16
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: 5,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                }
            };
            // Sprong
            $('#sprong').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Sprong',
                        style: {
                            fontSize: '14pt',
                            color: '#FFFF00',
                            fontWeight: 'normal',
                            fontFamily: 'Verdana, Calibri'
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Sprong',
                    {% if voortgang is defined %}
                        data: [{{ voortgang.Sprong|round }}],
                    {% else %}
                        data: [{{ 0 }}],
                    {% endif %}
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}%</span></div>'
                    }
                }]
            }));
            // Brug
            $('#brug').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Brug',
                        style: {
                            fontSize: '14pt',
                            color: '#FFFF00',
                            fontWeight: 'normal',
                            fontFamily: 'Verdana, Calibri'
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Brug',
                    {% if voortgang is defined %}
                        data: [{{ voortgang.Brug|round }}],
                    {% else %}
                        data: [{{ 0 }}],
                    {% endif %}
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}%</span></div>'
                    }
                }]
            }));
            // Balk
            $('#balk').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Balk',
                        style: {
                            fontSize: '14pt',
                            color: '#FFFF00',
                            fontWeight: 'normal',
                            fontFamily: 'Verdana, Calibri'
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Balk',
                    {% if voortgang is defined %}
                        data: [{{ voortgang.Balk|round }}],
                    {% else %}
                        data: [{{ 0 }}],
                    {% endif %}
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}%</span></div>'
                    }
                }]
            }));
            // Vloer
            $('#vloer').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Vloer',
                        style: {
                            fontSize: '14pt',
                            color: '#FFFF00',
                            fontWeight: 'normal',
                            fontFamily: 'Verdana, Calibri'
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Vloer',
                    {% if voortgang is defined %}
                        data: [{{ voortgang.Vloer|round }}],
                    {% else %}
                        data: [{{ 0 }}],
                    {% endif %}
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}%</span></div>'
                    }
                }]
            }));
        });
    </script>
{% endblock %}