{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            > <a href="{{ path('showPersoonDoelenPerToestel', { 'persoonId': persoonItems.id, 'toestel': toestel }) }}">Voortgang {{ toestel }}</a>
            > <i>{{ doelOpbouw.naam }} {{ doelOpbouw.toestel }}</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>{{ doelOpbouw.naam }} {{ doelOpbouw.toestel }}</h1>
{% endblock %}

{% block body %}
    <p>



{#<h3>{{ doelOpbouw.naam }} {{ doelOpbouw.toestel }}</h3>#}
    <table border="1" style="text-align: center;">
    <tr><th colspan="12" style="background-color: #{{ attribute(kleuren, doelOpbouw.id~'_hoofd') }};">
    <span style="color: rgba(0,0,0,0.6);">{{ doelOpbouw.naam }} {{ doelOpbouw.toestel }} ({{ attribute(cijfers, doelOpbouw.id~'_hoofd')|round }}%)</span></th></tr>
    <tr><td colspan="12" style="background-color: #{{ attribute(kleuren, doelOpbouw.id) }};">
    <span style="color: rgba(0,0,0,0.6);">{{ doelOpbouw.naam }} {{ doelOpbouw.toestel }} ({{ attribute(cijfers, doelOpbouw.id)|round }}%)</span></td></tr>
        {% if doelOpbouw.subdoelen is defined %}
            {% for subdoel in doelOpbouw.subdoelen %}
                <tr>
                    {% set counter = 0 %}
                    {% for trededoel in subdoel.trededoelen %}
                        {% if trededoel.subdoelId is defined %}
                            <td colspan="{{ (1/(subdoel.trededoelen|length))*12 }}" style="background-color: #{{ attribute(kleuren, trededoel.id~'_hoofd') }};">
                            <a href="#{{ trededoel.subdoelId }}" style="text-decoration: none;">
                            <span style="color: rgba(0,0,0,0.6);">{{ trededoel.naam }} {{ trededoel.toestel }} ({{ attribute(cijfers, trededoel.id~'_hoofd')|round }}%)</span>
                            </a>
                            {% else %}
                            <td colspan="{{ (1/(subdoel.trededoelen|length))*12 }}" style="background-color: #{{ attribute(kleuren, trededoel.id) }};">
                            <span style="color: rgba(0,0,0,0.6);">{{ trededoel.naam }} {{ trededoel.toestel }} ({{ attribute(cijfers, trededoel.id)|round }}%)</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</p>




{% for extraDoel in extraDoelen %}
    <p>
        <a name="{{ extraDoel.id }}"></a>
        {#<h3 onclick="showDetails(this.id)" id="{{ extraDoel.id }}">{{ extraDoel.naam }} {{ extraDoel.toestel }}</h3>#}
        {#<table border="1" style="text-align: center;display: none;" id="{{ extraDoel.id }}hidden">#}
        {#<tr>#}
        <table border="1" style="text-align: center;">
            <tr><th colspan="12" style="background-color: #{{ attribute(kleuren, extraDoel.id~'_hoofd') }};">
            <span style="color: rgba(0,0,0,0.6);">{{ extraDoel.naam }} {{ extraDoel.toestel }} ({{ attribute(cijfers, extraDoel.id~'_hoofd')|round }}%)</span></th></tr>
            <tr><td colspan="12" style="background-color: #{{ attribute(kleuren, doelOpbouw.id) }};">
            <span style="color: rgba(0,0,0,0.6);">{{ extraDoel.naam }} {{ extraDoel.toestel }} ({{ attribute(cijfers, extraDoel.id)|round }}%)</span></td></tr>
                {% if extraDoel.subdoelen is defined %}
                    {% for subdoel in extraDoel.subdoelen %}
                        <tr>
                            {% set counter = 0 %}
                            {% for trededoel in subdoel.trededoelen %}
                                {% if trededoel.subdoelId is defined %}
                            <td colspan="{{ (1/(subdoel.trededoelen|length))*12 }}" style="background-color: #{{ attribute(kleuren, trededoel.id~'_hoofd') }};">
                            <a href="#{{ trededoel.subdoelId }}" style="text-decoration: none;">
                            <span style="color: rgba(0,0,0,0.6);">{{ trededoel.naam }} {{ trededoel.toestel }} ({{ attribute(cijfers, trededoel.id~'_hoofd')|round }}%)</span>
                            </a>
                            {% else %}
                            <td colspan="{{ (1/(subdoel.trededoelen|length))*12 }}" style="background-color: #{{ attribute(kleuren, trededoel.id) }};">
                            <span style="color: rgba(0,0,0,0.6);">{{ trededoel.naam }} {{ trededoel.toestel }} ({{ attribute(cijfers, trededoel.id)|round }}%)</span>
                            {% endif %}
                        </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
        </table>
    </p>
{% endfor %}
{% endblock %}
