{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            > <i>Trainingsplan</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Trainingsplan</h1>
{% endblock %}

{% block body %}
    {% for training in trainingsdata.trainingen %}
        <h2>{{ training.dag }}: {{ training.tijdVan }} - {{ training.tijdTot }}</h2>
        <table border="1">
            {% for trainingsdatum in training.trainingsdata %}
                <tr><td>
                        <a href="{{  path('TrainingsplanmakeGroepjes', { 'persoonId': persoonItems.id,
                            'groepId': groepId,
                            'trainingsdatumId': trainingsdatum.id }) }}">
                            {{ trainingsdatum.datum }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% endblock %}
