{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            > <a href="{{ path('TrainingsplanIndex', { 'persoonId': persoonItems.id, 'groepId': groepId }) }}">Trainingsplan</a>
            > <i>Trainingsplan groepjes maken</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Trainingsplan groepjes maken</h1>
{% endblock %}

{% block body %}
    <h2>{{ trainingsdata.dag }} {{ trainingsdata.lesdatum }}</h2>
    <form method="post" action="{{ path('makeTrainingsplan', { 'persoonId': persoonItems.id, 'groepId': groepId, 'trainingId': trainingsdatumId }) }}">
        {% if personenAanwezigheid.turnsters is defined %}
            <p><h3>Turnsters</h3>
            <table border="1">
            <tr><th>Naam</th>
            <th>Groepje</th>
            <th></th>
            </tr>
                {% for persoon in personenAanwezigheid.turnsters %}
                    <tr>
                        <td>
                            {{ persoon.voornaam }} {{ persoon.achternaam }}
                        </td>
                        <td style="text-align: center;">
                            <select name="{{ persoon.id }}">
                                <option selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                        <td>
                            {% if personenAanwezigheid.aanwezigheid[persoon.id] is defined %}
                                {{ personenAanwezigheid.aanwezigheid[persoon.id] }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table></p>
        {% endif %}
        <p><input type="submit" value="Opslaan"></p>
    </form>
{% endblock %}
