{% extends 'base.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showCompetitionGroup', { 'groupId': group.id }) }}">{{ group.name }}</a>
            > <i>{{ gymnast.firstName }}</i>
        </div>
    </div>
{% endblock %}

{% block body %}
    <h1>{{ group.name }}</h1>
    <table>
        <tr style="vertical-align:top;">
            <td>
                <img src="{{ asset('uploads/selectiefotos/'~gymnast.pictureFileName) }}" width="200" alt="{{ gymnast.firstName }}"/>
            </td>
            <td>
                <br/><br/>
                <h2>{{ gymnast.firstName }}</h2>
                <p><b>Categorie:</b> {{ gymnast.category }}</p>
            </td>
        </tr>
    </table>

    <p>
        <b>Leukste toestel:</b><br/>
        {{ aboutGymnast.mostFunApparatus }}
    </p>

    <p>
        <b>Omdat:</b><br/>
        {{ aboutGymnast.explanationAboutMostFunApparatus }}
    </p>

    <p>
        <b>Leukste wedstijd tot nu toe:</b><br/>
        {{ aboutGymnast.mostFunCompetition }}
    </p>

    <p>
        <b>Leukste/moeilijkste element:</b><br/>
        {{ aboutGymnast.mostFunOrHardestSkill }}
    </p>

    <p>
        <b>Ik wil dit jaar nog leren:</b><br/>
        {{ aboutGymnast.wouldLikeToLearn }}
    </p>

    <p>
        <b>Beste turnster/voorbeeld:</b><br/>
        {{ aboutGymnast.exampleGymnast }}
    </p>

    <p>
        <b>Dit wil ik nog kwijt:</b><br/>
        {{ aboutGymnast.anythingElse }}
    </p>
{% endblock %}
