{% extends 'base.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <i>{{ group.name }}</i>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="uitslagen">
        <a href="{{ path('competitionResults', { 'groupId': group.id }) }}">
            &#187; Wedstrijduitslagen &#171;
        </a>
    </div>
    <h1>{{ group.name }}</h1>

    <h2>Trainers</h2>
    <table style="text-align:center;">
        <tr>
            {% for member in competionGroupMembers.coaches %}
            {% if loop.index0 is divisible by(4) %}
        </tr>
        <tr>
            {% endif %}
            <td>
                <img src="{{ asset('/uploads/selectiefotos/'~member.pictureFileName) }}" width="135" alt="Meer info"/>
                <p>{{ member.firstName }}<br>Trainer</p>
            </td>
            {% endfor %}

            {% for member in competionGroupMembers.assistantCoaches %}
            {% if (loop.index0 + competionGroupMembers.coaches.count) is divisible by(4) %}
        </tr>
        <tr>
            {% endif %}
            <td>
                <img src="{{ asset('/uploads/selectiefotos/'~member.pictureFileName) }}" width="135" alt="Meer info"/>
                <p>{{ member.firstName }}<br>Assistent-Trainer</p>
            </td>
            {% endfor %}

        </tr>
    </table>

    <h2>Turnsters</h2>
    <table style="text-align:center;">
        <tr>
            {% for member in competionGroupMembers.gymnasts %}
            {% if loop.index0 is divisible by(4) %}
        </tr>
        <tr>
            {% endif %}
            <td>
                <a href="{{ path('aboutGymnastPage', { 'groupId': group.id, 'gymnastId': member.id }) }}" style="text-decoration: none;">
                    <img src="{{ asset('/uploads/selectiefotos/'~member.pictureFileName) }}" width="135"
                         alt="Meer info"/>
                    <p>{{ member.firstName }}<br>Turnster</p>
                </a>
            </td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
