{% extends 'base.html.twig' %}
{% set DateVan = "now"|date("Y")-2 %}
{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('addClubbladPage') }}">Clubblad uploaden: <img src="{{ asset('images/add.png') }}" width="18px" /></a>
    {% endif %}
    <h1>Clubblad</h1>
    <p>Hieronder kun je clubbladen bekijken van {{ DateVan }} - {{ "now"|date("Y") }}</p>
    {% for items in clubbladItems %}
        <p><h2>{{ items.0.jaar }}</h2><table><tr>
            {% for item in items %}
                <td style="text-align:center;"><a href="/uploads/clubblad/{{ item.locatie }}" target="blank"><img src="{{ asset('images/donarlogo.jpg') }}" width="85" /></a></td>
            {% endfor %}
            </tr><tr>
            {% for item in items %}
            <td style="text-align:center;"><u><a href="/uploads/clubblad/{{ item.locatie }}" target="blank">{{ item.maandJaar }}</a></u>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('removeClubbladPage', { 'id': item.id }) }}"><img src="{{ asset('images/remove.png') }}" width="18px" /></a>
                {% endif %}
            </td>
            {% endfor %}
        </tr></table></p>
    {% endfor %}

{% endblock %}
