{% extends 'default/simple_content_page.html.twig' %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <p>
            <a href="{{ path('getSimpleContentPage', { 'pageName': app.request.get('pageName') }) }}">
                Annuleer wijzigingen
            </a>
            {{ form_start(form) }}
            {{ form_widget(form.pageContent) }}
            {{ form_end(form) }}
        </p>
    {% endif %}
    {{ parent() }}
{% endblock %}
