{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vakanties en feestdagen</h1>
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('addVakantiesPage') }}">
            Vakantie of feestdag toevoegen:
            <img src="{{ asset('images/add.png') }}" width="18px" alt="Vakantie of feestdag toevoegen"/>
        </a>
    {% endif %}
    <br />
    <table>
        {% for holiday in holidays %}
            <tr>
                <td><b>{{ holiday.name }}</b></td>
                <td>{{ holiday.startDate|date('d-m-Y') }}</td>
                <td>t/m</td>
                <td>{{ holiday.endDate|date('d-m-Y') }}</td>
                <td>
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        {% apply spaceless %}
                            <a href="{{ path('editVakantiesPage', { 'id': holiday.id }) }}">
                                <img src="{{ asset('images/edit.png') }}" width="18px" alt="Bewerk vakantie"/>
                            </a>
                            <a href="{{ path('removeVakantiesPage', { 'id': holiday.id }) }}">
                                <img src="{{ asset('images/remove.png') }}" width="18px" alt="Verwijder vakantie"/>
                            </a>
                        {% endapply %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
