{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vakanties en feestdagen</h1>
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('addVakantiesPage') }}">Vakantie of feestdag toevoegen: <img src="{{ asset('images/add.png') }}" width="18px" /></a>
    {% endif %}
    <p><table>
    {% for item in vakantieItems %}
        <tr>
            <td><b>{{ item.naam }}</b></td>
            <td>{{ item.van }}</td>
            <td>t/m</td>
            <td>{{ item.tot }}</td>
            <td>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('editVakantiesPage', { 'id': item.id }) }}"><img src="{{ asset('images/edit.png') }}" width="18px" /></a>
                    <a href="{{ path('removeVakantiesPage', { 'id': item.id }) }}"><img src="{{ asset('images/remove.png') }}" width="18px" /></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table></p>
{% endblock %}
