{% extends '@Shared/base.html.twig' %}

{% block body %}
    <h1>Veelgestelde vragen</h1>
    {% if app.user and is_granted('ROLE_ADMIN') %}
        {% trans %}add_frequently_asked_question_modal.title{% endtrans %}:
        <input type="image" src="{{ asset('images/add.png') }}"
               data-toggle="modal" data-target="#add-frequently-aksed-question-modal"
               alt="{% trans %}add_frequently_asked_question_modal.title{% endtrans %}" width="18px"/>
    {% endif %}
    {% for question in questions %}
        <h3>{{ question.question }}
            {% if app.user and is_granted('ROLE_ADMIN') %}
                {% apply spaceless %}
                    <a href="{{ path('editFrequentlyAskedQuestion', { 'id': question.id }) }}">
                        <img src="{{ asset('images/edit.png') }}" width="18px" alt="Bewerk vraag/antwoord"/>
                    </a>
                    <input type="image" class="remove-frequently-asked-question" src="{{ asset('images/remove.png') }}"
                           data-id="{{ question.id }}" data-question="{{ question.question }}"
                           alt="{% trans %}remove_frequently_asked_question_modal.title{% endtrans %}"/>
                {% endapply %}
            {% endif %}
        </h3>
        <div>
            {{ question.answer|raw }}
        </div>
    {% endfor %}
{% endblock %}

{% block modals %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        {% include '@PublicInformation/contact/modals/remove_frequently_asked_question_modal.html.twig' %}
        {% include '@PublicInformation/contact/modals/add_frequently_asked_question_modal.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <script type="text/javascript" src="{{ asset('js/remove-frequently-asked-question.js') }}"></script>
        {% if showModal %}
            <script type="text/javascript">
                $('#add-frequently-aksed-question-modal').modal('show');
            </script>
        {% endif %}
    {% endif %}
{% endblock %}
