{% extends '@Shared/base.html.twig' %}

{% block body %}
    <h1>Veelgestelde vragen</h1>
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('addVeelgesteldeVragenPage') }}">
            Nieuwe vraag toevoegen:
            <img src="{{ asset('images/add.png') }}" width="18px" alt="Nieuwe vraag toevoegen"/>
        </a>
    {% endif %}
    {% for question in questions %}
            <h3>{{ question.question }}
            {% if app.user and is_granted('ROLE_ADMIN') %}
                {% apply spaceless %}
                <a href="{{ path('editVeelgesteldeVragenPage', { 'id': question.id }) }}">
                    <img src="{{ asset('images/edit.png') }}" width="18px" alt="Bewerk vraag/antwoord" />
                </a>
                    <input type="image" class="remove-frequently-asked-question" src="{{ asset('images/remove.png') }}"
                           data-id="{{ question.id }}" data-question="{{ question.question }}"
                           alt="{% trans %}remove_frequently_asked_question_modal.title{% endtrans %}"/>
                {% endapply %}
            {% endif %}
            </h3>
        <div>
            {{ question.answer|raw }}
        </div>
    {% endfor %}
{% endblock %}

{% block modals %}
    {% include '@PublicInformation/contact/remove_frequently_asked_question_modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/remove-frequently-asked-question.js') }}"></script>
{% endblock %}
