{% extends '@Shared/base.html.twig' %}

{% block body %}
    {% include '@Shared/admin/admin_menu.html.twig' %}

    <div id="inlog_nav">
        <div id="text">
            <i>Foto's</i>
        </div>
    </div>

    <h1>Uploads bekijken</h1>
    Foto Uploaden:
    <input type="image" src="{{ asset('images/add.png') }}" width="18px"
           data-toggle="modal" data-target="#add-picture-modal"
           alt="{% trans %}add_picture_modal.title{% endtrans %}"/>
    <table border="1">
        <tr>
            <td><b>Naam</b></td>
            <td><b>Locatie</b></td>
            <td></td>
        </tr>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.name }}</td>
                <td style="font-size: 12px;">{{ locationFromWebRoot }}{{ picture.fileName }}</td>
                <td>
                    <input type="image" class="remove-picture" src="{{ asset('images/remove.png') }}"
                           data-id="{{ picture.id }}" data-name="{{ picture.name }}"
                           alt="{% trans %}remove_picture_modal.title{% endtrans %}"/>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block modals %}
    {% include '@PublicInformation/admin/modals/remove_picture_modal.html.twig' %}
    {% include '@PublicInformation/admin/modals/add_picture_modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/remove-picture.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/file-input-fix.js') }}"></script>
    {% if showAddPictureModal %}
        <script type="text/javascript">
            $('#add-picture-modal').modal('show');
        </script>
    {% endif %}
{% endblock %}

