{% extends '@Shared/base.html.twig' %}

{% block body %}
    {% include '@Shared/admin/admin_menu.html.twig' %}

    <div id="inlog_nav">
        <div id="text">
            <i>Bestanden</i>
        </div>
    </div>

    <h1>Uploads bekijken</h1>
    <a href="{{ path('addAdminFotoPage') }}">Foto Uploaden: <img src="{{ asset('images/add.png') }}" width="18px"/></a>
    <table border="1">
        <tr>
            <td><b>Naam</b></td>
            <td><b>Locatie</b></td>
            <td></td>
        </tr>
        {% for file in files %}
            <tr>
                <td>{{ file.name }}</td>
                <td style="font-size: 12px;">{{ locationFromWebRoot }}{{ file.fileName }}</td>
                <td>
                    <input type="image" class="remove-uploaded-file" src="{{ asset('images/remove.png') }}"
                           data-id="{{ file.id }}" data-name="{{ file.name }}"
                           alt="{% trans %}remove_uploaded_file_modal.title{% endtrans %}"/>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block modals %}
    {% include '@PublicInformation/admin/remove_uploaded_file_modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/remove-uploaded-file.js') }}"></script>
{% endblock %}

