{% extends 'wedstrijdturnen/base.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <i>{{ activeGroep.name }}</i>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="uitslagen"><a href="{{ path('getWedstrijdturnenPage', { 'page': activeGroep.id, 'view': 'wedstrijduitslagen' }) }}">
            &#187; Wedstrijduitslagen &#171;</a></div>
    <h1>{{ activeGroep.name }}</h1>

    <h2>Trainers</h2>
    <table style="text-align:center;">
        <tr>
            {% for persoon in personen.Trainer %}
                {% if loop.index0 is divisibleby(4) %}
                    </tr><tr>
                {% endif %}
                <td><a href="{{ path('getWedstrijdturnenPage', { 'page': activeGroep.id, 'view': 'TNT', 'id': persoon.id }) }}" style="text-decoration: none;">
                    <img src="http://www.donargym.nl/uploads/selectiefotos/{{ persoon.foto }}" width="135"/>
                    <p>{{ persoon.voornaam }} {{ persoon.achternaam }}<br>
                        Trainer</p></a></td>
            {% endfor %}

            {% for persoon in attribute(personen, 'Assistent-Trainer') %}
                {% if (loop.index0+personen.Trainer|length) is divisibleby(4) %}
                    </tr><tr>
                {% endif %}
                <td><a href="{{ path('getWedstrijdturnenPage', { 'page': activeGroep.id, 'view': 'TNT', 'id': persoon.id }) }}" style="text-decoration: none;"><img src="http://www.donargym.nl/uploads/selectiefotos/{{ persoon.foto }}" width="135"/>
                    <p>{{ persoon.voornaam }} {{ persoon.achternaam }}<br>
                        Assistent-Trainer</p></a></td>
            {% endfor %}

        </tr>
    </table>

    <h2>Turnsters</h2>
    <table style="text-align:center;">
        <tr>
    {% for persoon in attribute(personen, 'Turnster') %}
        {% if loop.index0 is divisibleby(4) %}
            </tr><tr>
        {% endif %}
        <td><a href="{{ path('getWedstrijdturnenPage', { 'page': activeGroep.id, 'view': 'TNT', 'id': persoon.id }) }}" style="text-decoration: none;">
                <img src="http://www.donargym.nl/uploads/selectiefotos/{{ persoon.foto }}" width="135"/>
            <p>{{ persoon.voornaam }} {{ persoon.achternaam }}<br>
            {{ persoon.categorie }}</p></a></td>
    {% endfor %}
        </tr>
    </table>
{% endblock %}
