{% extends '@Shared/base.html.twig' %}

{% block body %}
    {% include '@CompetitionGroup/competition_group_login/partials/login_menu.html.twig' %}

    <div id="inlog_nav">
        <div id="text">
            <i>Algemene gegevens</i>
        </div>
    </div>

    <h1>Algemene gegevens</h1>
    <h3>Adres</h3>
    {{ competitionGroupAccount.address.streetAndHouseNumber }}<br/>
    {{ competitionGroupAccount.address.zipCode }}<br/>
    {{ competitionGroupAccount.address.city }}<br/>
    <h3>Telefoonnummer(s)</h3>
    {% for phoneNumber in competitionGroupAccount.phoneNumbers %}
        {{ phoneNumber.number }}<br/>
    {% endfor %}
    <h3>Emailadres(sen)</h3>
    {% for emailAddress in competitionGroupAccount.emailAddresses %}
        {{ emailAddress }}<br/>
    {% endfor %}

    <h3>Inloggegevens</h3>
    {{ app.user.username }}<br/>
    ********
    <a href="{{ path('getNewCredentials', { 'emailAddress': app.user.username } ) }}">
        <img src="{{ asset('images/edit.png') }}" width="18px" alt="Wachtwoord wijzigen"/>
    </a>
{% endblock %}
