{% extends '@Shared/base.html.twig' %}

{% block body %}
    <h1>Formulieren</h1>
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('addFormulierenPage') }}">
            Formulier toevoegen:
            <img src="{{ asset('images/add.png') }}" width="18px" alt="Formulier toevoegen"/>
        </a>
    {% endif %}
    <ul>
        {% for form in subscriptionPaperForms %}
            <li>
                <a href="/uploads/formulieren/{{ form.fileName }}" target="blank">{{ form.name }}</a>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('removeFormulierenPage', { 'id': form.id }) }}">
                        <img src="{{ asset('images/remove.png') }}" width="18px" alt="Formulier verwijderen"/>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
