{% extends '@Shared/base.html.twig' %}

{% block body %}
    <h1>Formulieren</h1>
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <input type="image" src="{{ asset('images/add.png') }}" width="18px"
               data-toggle="modal" data-target="#add-paper-form-modal"
               alt="{% trans %}add_paper_form_modal.title{% endtrans %}"/>
    {% endif %}
    <ul>
        {% for form in subscriptionPaperForms %}
            <li>
                <a href="{{ locationFromWebRoot }}{{ form.fileName }}" target="blank">{{ form.name }}</a>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <input type="image" class="remove-paper-form" src="{{ asset('images/remove.png') }}"
                           data-id="{{ form.id }}" data-label="{{ form.name }}"
                           alt="{% trans %}remove_paper_form_modal.title{% endtrans %}"/>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block modals %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        {% include '@PublicInformation/subscription/modals/remove_paper_form_modal.html.twig' %}
        {% include '@PublicInformation/subscription/modals/add_paper_form_modal.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <script type="text/javascript" src="{{ asset('js/remove-paper-form.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/file-input-fix.js') }}"></script>
        {% if showModal %}
            <script type="text/javascript">
                $('#add-paper-form-modal').modal('show');
            </script>
        {% endif %}
    {% endif %}
{% endblock %}
