{% extends '@Shared/base.html.twig' %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <input type="image" src="{{ asset('images/add.png') }}" width="18px"
               data-toggle="modal" data-target="#add-club-magazine-modal"
               alt="{% trans %}add_club_magazine_modal.title{% endtrans %}"/>
    {% endif %}

    <h1>Clubblad</h1>
    <p>Hieronder kun je de clubbladen bekijken.</p>
    {% for year in years %}
        <h2>{{ year }}</h2>
        <table>
            <tr>
                {% for clubMagazine in clubMagazines.clubMagazinesForYear(year) %}
                    <td style="text-align:center;">
                        <a href="{{ locationFromWebRoot }}{{ clubMagazine.fileName }}" target="blank">
                            <img src="{{ asset('images/donarlogo.jpg') }}" width="85" alt="Bekijk clubblad"/><br>
                            {% set label = 'month.' ~ clubMagazine.issueDate|date('F') %}
                            {{ label|trans }} {{ year }}
                        </a>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <input type="image" class="remove-club-magazine" src="{{ asset('images/remove.png') }}"
                                   data-id="{{ clubMagazine.id }}" data-date="{{ label|trans ~ " " ~ year }}"
                                   alt="{% trans %}remove_club_magazine_modal.title{% endtrans %}"/>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% endfor %}
{% endblock %}

{% block modals %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        {% include '@PublicInformation/default/modals/remove_club_magazine_modal.html.twig' %}
        {% include '@PublicInformation/default/modals/add_club_magazine_modal.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <script type="text/javascript" src="{{ asset('js/remove-club-magazine.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/file-input-fix.js') }}"></script>
        {% if showModal %}
            <script type="text/javascript">
                $('#add-club-magazine-modal').modal('show');
            </script>
        {% endif %}
    {% endif %}
{% endblock %}
