{% extends '@Shared/base.html.twig' %}

{% block body %}
    <h1>Vakanties en feestdagen</h1>
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('addVakantiesPage') }}">
            Vakantie of feestdag toevoegen:
            <img src="{{ asset('images/add.png') }}" width="18px" alt="Vakantie of feestdag toevoegen"/>
        </a>
    {% endif %}
    <br/>
    <table>
        {% for holiday in holidays %}
            <tr>
                <td><b>{{ holiday.name }}</b></td>
                <td>{{ holiday.startDate|date('d-m-Y') }}</td>
                <td>t/m</td>
                <td>{{ holiday.endDate|date('d-m-Y') }}</td>
                <td>
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        {% apply spaceless %}
                            <a href="{{ path('editVakantiesPage', { 'id': holiday.id }) }}">
                                <img src="{{ asset('images/edit.png') }}" width="18px" alt="Bewerk vakantie"/>
                            </a>
                            <input type="image" class="remove-holiday" src="{{ asset('images/remove.png') }}"
                                   data-id="{{ holiday.id }}" data-name="{{ holiday.name }}"
                                   alt="{% trans %}remove_holiday_modal.title{% endtrans %}"/>
                        {% endapply %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block modals %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        {% include '@PublicInformation/default/modals/remove_holiday_modal.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <script type="text/javascript" src="{{ asset('js/remove-holiday.js') }}"></script>
    {% endif %}
{% endblock %}
