{% extends '@Shared/base.html.twig' %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        {% trans %}add_news_post_modal.title{% endtrans %}:
        <input type="image" class="add-news-post" src="{{ asset('images/add.png') }}"
               data-toggle="modal" data-target="#add-news-post-modal"
               alt="{% trans %}add_news_post_modal.title{% endtrans %}" width="18px"/>
    {% endif %}

    {% for newsPost in newPosts %}

        <div id="article">
            <div class="date">{{ newsPost.createdAt|date('d-m-Y: H:i') }}</div>
            <hr>
            <h3>
                {{ newsPost.title }}
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    {% apply spaceless %}
                        <a href="{{ path('editNewsPost', { 'id': newsPost.id }) }}">
                            <img src="{{ asset('images/edit.png') }}" width="18px" alt="Nieuwsbericht bewerken"/>
                        </a>
                        <input type="image" class="remove-news-post" src="{{ asset('images/remove.png') }}"
                               data-id="{{ newsPost.id }}" data-title="{{ newsPost.title }}"
                               alt="{% trans %}remove_news_post_modal.title{% endtrans %}"/>
                    {% endapply %}
                {% endif %}
            </h3>

            <p>{{ newsPost.content|raw }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block modals %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        {% include '@PublicInformation/default/modals/remove_news_post_modal.html.twig' %}
        {% include '@PublicInformation/default/modals/add_news_post_modal.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <script type="text/javascript" src="{{ asset('js/remove-news-post.js') }}"></script>
        {% if showModal %}
            <script type="text/javascript">
                $('#add-news-post-modal').modal('show');
            </script>
        {% endif %}
    {% endif %}
{% endblock %}
